<%- include('./partials/html-head.ejs') %>
  <body>
    <nav>
      <%- include('./partials/navbar.ejs') %>
    </nav>
    <main>
      <div class="flex items-center justify-center w-full h-[100vh]">
        <form action="/products/add-product" method="POST" class="flex flex-col gap-4 w-[50%] p-4 border rounded-lg shadow-lg">
          <h3 class="text-2xl text-center">Add new product</h3>
          <div class="form-control w-full ">
            <label class="label">
              <span class="label-text">Product Name</span>
            </label>
            <input name="product-name" required type="text" placeholder="Enter Product Name" class="input input-bordered w-full " />
          </div>
          <div class="form-control w-full ">
            <label class="label">
              <span class="label-text">Product Description</span>
            </label>
            <textarea name="prodcut-description" required class="textarea textarea-bordered  w-full max-w-x" placeholder="Enter Product Description"></textarea>
          </div>
          <div class="form-control w-full ">
            <label class="label">
              <span class="label-text">Product Image Url</span>
            </label>
            <input name="image-url" required type="text" placeholder="Enter Image Url" class="input input-bordered w-full " />
          </div>
          <button class="btn w-full" type="submit">Submit</button>
        </form>
      </div>
      
    </main>
  </body>
</html>
