<div class="navbar  bg-primary">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Dummy Huse</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/products">Products</a></li>
        <li><a href="/products/add-product">Add New Product</a></li>
      </ul>
    </div>
</div>